.App {
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
  width: 750px;
  margin-left: 60px;
}
.App-header {
  text-align: center;
  margin-left: 12px;
}
.search-input {
  width: 400px;
  height: 30px;
  padding-left: 12px;
}
.search-submit {
  height: 30px;
  background-color: #3f8fda;
  border: none;
}
ul {
  list-style-type: none;
}

footer {
  text-align: center;
  border-top: 1px solid rgb(243, 242, 229) 90%;
  padding: 30 0 0 0;
  color: rgba(245, 247, 253, 0.952);
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 12px;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
